<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Home Page</title>
</head> 
<body> 
    <h1>Home Page!</h1>
    <!-- <p>Hello</p>  -->

<!--     
    <p>{{ content }}</p>
    <p>{{ r }}</p>
 -->

<!-- 
    {% for x in range(10) %}
        {% if x%2 == 1 %}
            <p>{{ x }}</p>
        {% endif %}
    {% endfor %}
-->

    {% for x in content %}
            <p>{{ x }}</p>

            {% if x=="tim" %} 

            {% elif x=="joe" %} 

            {% else %} 

            {% endif %} 

    {% endfor %} 


</body> 
</html> 
